[Unit]
Description=Open OSCAR Server
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=4

[Service]
User={{ retronas_user }}
WorkingDirectory=/opt/open-oscar-server
ExecStart=/opt/open-oscar-server/open_oscar_server
Restart=on-failure
RestartSec=5
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=multi-user.target
