#!/usr/bin/env bash
echo ""
echo "Downloading/updating games..."
echo ""

mkdir -p ~/.gogrepo 2>/dev/null
cd ~/.gogrepo

/usr/local/retronas-bsd/bin/gogrepo/gogrepo.py download ${@} "{{ retronas_path }}/gog"
