#!/usr/bin/env bash

_CONFIG=/usr/local/retronas-bsd/config/retronas.cfg
source $_CONFIG
source ${LIBDIR}/common.sh

WEEDCONF=${1:-/usr/local/retronas-bsd/bin/weed-retronas-s3.json}
MATCH=${2:-retronas}

if [ -f ${WEEDCONF} ]
then
    echo "Credentials for the identity: ${MATCH}"
    jq -r ".[][] | select(.name == \"${MATCH}\").credentials[]" ${WEEDCONF}
else
    echo "Config file not found: ${WEEDCONF}"
fi

PAUSE