#!/usr/bin/env bash
_CONFIG=/usr/local/retronas-bsd/config/retronas.cfg
source $_CONFIG
source ${LIBDIR}/common.sh
CLEAR

python3 /usr/local/retronas-bsd/scripts/netmount-confman.py

systemctl daemon-reload

PAUSE
