#!/usr/bin/env bash
echo ""
echo "litch download purchases ..."
echo ""

mkdir -p ~/.litch 2>/dev/null
cd ~/.litch

/usr/local/retronas-bsd/bin/litch/litch.py --download-purchases --content-path {{ retronas_path }}/itchio
